@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}

.navbar-custom {
    background-color: #4787ff; /* Example: tomato color */
    color: white;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: white; /* Set the text color to white */
  }
  
  .navbar-custom .nav-link:hover {
    color: #FFD700; /* Example: gold color on hover */
  }

  .navbar-custom .nav-link.active {
    color: white !important; /* Override Bootstrap's default black color for active links */
  }

  /* Ensuring hover works even on active links */
.navbar-custom .nav-link.active:hover {
    color: yellow !important; /* Force the hover color to apply even on active links */
  }
  
  
.logo {
}

.menu-icon {
  display: none;
}

.nav-link:hover {
  color: yellow; 
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }}
